<!-- Index.vtl -->
<h1>CD Organizer</h1>
<p>Let's order some damn CD's!</p>
<form action="/organize" method="post">
  <label for=""></label>
  <input type="text" name="">
  <button type="submit"></button>
</form>
<!-- Index.vtl -->
